$light-background-color:#F6F6F6;
$darken-background-color: #EAEAEA;
$dark-background-color:#353535;
$primary-color:#9356DC;
$primary-dark-color: #003A68;
$primary-light-color:#7E7E7E;
$second-dark-color:#008766;
$second-light-color: #99E2D0;
$black: black;
$white: white;
$desktop-size: 992px;

