@import '../abstracts/variablesAndMixins.scss';

.card {
    box-sizing: border-box;
    width: 100%;    
    min-width: 250px;
    max-width: 600px;
    margin-top: -10px;
    &__content {
        box-sizing: border-box;
        background-color: $white;
        border-radius: 15px;
        box-shadow: 0 4px 15px 0 #0000001A;
        display: flex;
        flex-direction: column;
    }
    &__newRestaurant {
        width: 80px;
        height: 29px;
        color: #008766;
        background-color: $tertiary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 4px 0 #00000026;
        border-radius: 2px;
        position: relative;
        left: 65%;
        top: 50px;
        @media (min-width: 450px){
            left: 75%;
        }
        @media (min-width: 700px){
            left: 85%;
        }
        @media (min-width: $desktop-size){
            left: 80%;

        }
        
    }
    &__newRestaurant--hidden{
        height: 29px;
        opacity: 0;
    }
    & img {
        width: 100%;
        height: 174px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    &__blocText {
        color: $black;
        display: flex;
        padding: 0.5em 1.5em 0.5em 1em;
        box-sizing: border-box;
        height: 77px;
        align-items: center;
        justify-content: space-between;
    }

}