@import '../abstracts/variablesAndMixins.scss';

.category{
    
    &__title{
        font-weight: 300;
        margin-bottom: 0.3em;
    }
    &__underline{
        display: block;
        width: 40px;
        height: 3px;
        background-color: $tertiary-color;
    }
}