@import '../abstracts/variablesAndMixins.scss';

.menu{
    width: 100%;
    &__food{
    background-color: $white;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin: 1em 0 0 0;
    box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);
    }
    &__text {
        max-height: 42px;
        text-overflow: ellipsis; //tronque avec '...'
        overflow: hidden; // cache le texte manquant
        white-space: nowrap; //empeche tout retour à la ligne
        border: 1px solid red;
    }
    &__name{
        font-weight: 500;
        font-size: 1.1em ;
        text-overflow: ellipsis; //tronque avec '...'
        overflow: hidden; // cache le texte manquant
        white-space: nowrap; //empeche tout retour à la ligne
    }
    &__description{
        font-size: 0.9em;
        text-overflow: ellipsis; //tronque avec '...'
        overflow: hidden; // cache le texte manquant
        white-space: nowrap; //empeche tout retour à la ligne
    }
    &__price{
        color: $dark-background-color;
        font-weight: 700;
        margin-left: 5px;
        min-width: 30px; //le prix reste toujours visible et ne descends pas sous les 30px
    }
}
.food__content{
    display: flex;
    justify-content: space-between;
}

.fa-circle-check{

}