@import '../abstracts/variablesAndMixins.scss';


.loader-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: $white; //attache un fond blanc
    opacity: 0.9; //rends le fond légèrement opaque pourappercevoir le contenu
    z-index: 10; //place le loader devant le reste
    animation: hideLoader 3s ease-in; // applique le keyFrame pour cacher l'element a 3s
    animation-fill-mode: forwards; //l'animation reste dans sa position finale soit loader caché
}

.loader {
    position: absolute; //supperpose tous les loaders
    border-radius: 50%; //arrondi le carré
}
.loaderA{
    width: 80px; //fait un carré
    height: 40px; 
    border-top: 2px solid  $black; //ajout un demi cercle en haut
    border-bottom: 2px solid  $black ; //ajoute le demi cercle du bas
    animation: turn 1.5s linear infinite; //défini l'animation spin du bloc sur un tour en 1.5sec
}
.loaderB{
    width: 80px; //fait un carré
    height: 40px; 
    border-top: 3px solid $second-light-color ; 
    border-bottom: 3px solid $second-light-color ; 
    animation: turn 2s linear infinite;
}
.loaderC{
    width: 80px; //fait un carré
    height: 40px; 
    border-top: 2px solid  $primary-color ;
    border-bottom: 2px solid  $primary-color ;
    animation: turn 2.5s linear infinite;
}

//KEYFRAMES
@keyframes turn {
    0% {
        transform: rotate(0deg);//part d'une rotation de 0%
    } 
    100% {
        transform: rotate(360deg);//fait un tour complet à 360 pour arriver à 100%
    } 
}

@keyframes hideLoader {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1; //recule le bloc en arrière plan pour laisser la place aux autre animations
    }
}