@import '../abstracts/variablesAndMixins.scss';

.presentation{
    &__form{
        background-color: $darken-background-color;
        width: 100%;
        box-shadow: inset 2px 2px 2px 0px #00000026;
        @media (min-width: $desktop-size){
            box-shadow: none;
        }
    }
    &__form form{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }
    &__form input, label {
        background-color: transparent;
        color: $dark-background-color;
        font-size: 1.2em;
        font-weight: 500;
        margin: 0 0.2em;
    }
    &__form input{
        border: none;
        width: 130px;
    }
}


