@import '../abstracts/variablesAndMixins.scss';

.restaurant__backgroundImg{
    width: 100%;
    height: 275px;
    object-fit: cover;
    z-index: -1;
    position: relative; //permets de détacher l'image de le succession d'éléments
}

.restaurantMenu {
    background-color: $light-background-color;
    border-radius: 40px 40px 0 0;
    box-sizing: border-box;
    padding: 0 5%;
    display: flex;
    row-gap: 40px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1055px;
    margin: auto;
    position: relative;
    top: -75px;
    margin-bottom: -75px;
    @media (min-width: $desktop-size) {
        padding: 0 10%;
    }
}

.restaurant__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 50%;
}

.restaurant__button {
    margin-bottom: 40px;
}